build
__pycache__
*cpython*.so
python/data
build*
python/joycon/joycon_robotics.egg-info
python/graspnet/doc/obs_yolo/**
python/graspnet/doc/example_data/**
python/graspnet/doc/grasp_result/**
python/examples/collect_data/**